@media (max-width: 1050px) {
    .ingresso .cover {
        display: none;
    }
}

@media screen and (max-width: 900px) {

    header {
        height: 40vh;
    }

    .carousel img {
        width: calc(98% / 2);
    }

    .menu nav,
    .menu .redes-sociais {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .sidebar-background-solid {
        /*         display: unset; */
    }

    .sidebar {
        /*         display: unset; */
    }

    .box-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: calc(.ingressoHeight * 2);
        margin-top: 20px;
        align-content: flex-start;
    }

    .ingresso {
        width: 100%;
    }

    .ingresso:nth-child(2) {}

    .ingresso .cover {
        display: block;
    }

}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }

    .sidebar {
        width: 90%;
    }

    header {
        height: 35vh;
    }

    .section-header .section-title-left i {
        font-size: 2.6rem;
    }

    .section-header .title p {
        line-height: 17px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .date-place {
        width: 27%;
    }

    .ingresso .cover {
        display: none;
    }

}