@media screen and (max-width: 900px) {

    header {
        height: 40vh;
    }

    .carousel img {
        width: calc(98% / 2);
    }

    .menu nav,
    .menu .redes-sociais {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .sidebar-background-solid {
        /*         display: unset; */
    }

    .sidebar {
        /*         display: unset; */
    }

    .box-section {
        flex-direction: column;
    }

    .ingresso {
        width: 100%;
    }

    .ingresso:nth-child(2) {
        margin-left: 0px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }

    .sidebar {
        width: 90%;
    }

    header {
        height: 35vh;
    }

    .section-header .section-title-left i {
        font-size: 2.6rem;
    }

    .section-header .title p {
        line-height: 17px;
        font-size: 1.2rem;
        font-weight: bold;
    }


}

@media (max-width: 720px) {}