/* import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url(css/slide.css);


:root {
  --background-solid: #000000bd;
  --color-theme-1: #050d27;
  --color-theme-2: #f5911e;
}

* {
  /* font-size: clamp(1em, 1em + 0.5vw, 0.5em); */
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  width: 100%;
  height: 50vh;
  background: linear-gradient(var(--background-solid), var(--background-solid)),
    url(img/dj-playing-music-at-mixer\ 1.png) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.content {
  width: calc(100% - 50px);
  max-width: 1450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
}

.menu nav ul {
  display: flex;
  flex-direction: row;
}

.menu nav ul li {
  margin: 10px;
  cursor: pointer;
}

.logo {
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.redes-sociais i {
  cursor: pointer;
}
 i {
  padding: 5px;
  font-size: 1.5rem;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger i {
  font-size: 1.7rem;
}
.sidebar-background-solid {
  display: none;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
  opacity: 50%;
}
.sidebar {
  display: none;
  height: 100%;
  width: 70%;
  background-color: white;
  position: fixed;
  margin-left: calc(50%) ;
  z-index: 20;
}

#section-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;

}
.section-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.section-title-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section-header .title {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.section-header .section-title-left i {
  font-size: 2.8rem;
  color: var(--color-theme-1);
}
.section-header .title p {
  color: var(--color-theme-1);
  line-height: 17px;
  font-size: 1.4rem;
  font-weight: bold;
}
.section-header .title p:nth-child(2) {
  color: var(--color-theme-2);
}
.call-action {
  color: white;
  width: 200px;
  background-color: #25D366;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  cursor: pointer;
  transition: 0.4s;
}
.call-action:hover {
  box-shadow: 2px 5px 15px -3px #25D366;
  background-color: #25d37c;
}

/* section ingresso */
.box-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.ingresso {
  width: calc(100% / 2);
  height: 200px;
  background-color: rgb(192, 192, 192);
  border-radius: 10px;
}
.ingresso:nth-child(2) {
  margin-left: 20px;
}
