/* import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url(css/slide.css);


:root {
  --background-solid: #000000bd;
  --color-theme-1: #050d27;
  --color-theme-2: #f5911e;
}

* {
  /* font-size: clamp(1em, 1em + 0.5vw, 0.5em); */
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  transition: 0.2s;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  width: 100%;
  height: 50vh;
  background: linear-gradient(var(--background-solid), var(--background-solid)),
    url(img/dj-playing-music-at-mixer\ 1.png) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.content {
  width: calc(100% - 50px);
  max-width: 1450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
}

.menu nav ul {
  display: flex;
  flex-direction: row;
}

.menu nav ul li {
  margin: 10px;
}

.logo {
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.redes-sociais i,
.menu nav ul li,
.hamburger i {
  cursor: pointer;
  transition: 0.3s;
}

.redes-sociais i:hover,
.menu nav ul li:hover,
.hamburger i:hover {
  color: var(--color-theme-2);
}

i {
  padding: 5px;
  font-size: 1.5rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger i {
  font-size: 1.9rem;
}

.sidebar-background-solid {
  display: none;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
  opacity: 50%;
}

.sidebar {
  display: none;
  height: 100%;
  width: 70%;
  background-color: white;
  position: fixed;
  margin-left: calc(50%);
  z-index: 20;
}

.section-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;

}

.section-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.section-title-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-header .title {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.section-header .section-title-left i {
  font-size: 2.8rem;
  color: var(--color-theme-1);
}

.section-header .title p {
  color: var(--color-theme-1);
  line-height: 17px;
  font-size: 1.4rem;
  font-weight: bold;
}

.section-header .title p:nth-child(2) {
  color: var(--color-theme-2);
}

.call-action {
  color: #ffffff;
  width: 185px;
  background-color: #25D366;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.4s;
}

.call-action:hover,
.ativo {
  box-shadow: 2px 5px 15px -3px #25D366;
  background-color: #25d37c;
}

/* section ingresso */
.box-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 218px;
  margin-top: 20px;
  overflow: hidden;
  align-content: flex-start;
}

.ingresso {
  width: calc(100% / 2 - 10px);
  height: 200px;
  background-color: #ffffff;
  box-shadow: -1px 4px 15px -3px #140b6849;
  display: flex;
  flex-direction: row;
  transition: 0.2s;
  margin-top: 10px;
  margin-right: 10px;
}

.ingresso:hover {
  background-color: #f4f3fca2;
}

.ingresso:nth-child(2) {}

.date-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  background-color: var(--color-theme-1);
}

.date-place .date {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-place .date p {
  font-weight: 700;
  line-height: 27px;
}

.date-place .date p:nth-child(1) {
  font-size: 2.5rem;
  line-height: 35px;
}

.date-place .date p:nth-child(2) {
  font-size: 1.6rem;
}

.date-place .date p:nth-child(3) {
  font-size: 1.4rem;
  line-height: 20px;
}

.date-place .place-cover {
  background-color: var(--color-theme-1);
  height: 100%;
}

.date-place .place-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ingresso-content {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.ingresso-content .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ingresso-content .title {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.ingresso-content .title .title1 {
  color: var(--color-theme-1);
  text-transform: uppercase;
  font-weight: 550;
}

.ingresso-content .title .title2 {
  color: var(--color-theme-2);
  margin-left: 10px;
  font-size: 1.1rem;
}

.ingresso-content .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ingresso-content .open {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ingresso-content .open p {
  color: var(--color-theme-1);
  text-transform: uppercase;
  font-size: 1.1rem;
}

.ingresso-content .open i {
  color: var(--color-theme-2);
}

.ingresso-content .description {}

.ingresso-content .description p {
  color: var(--color-theme-1);
  line-height: 22px;
  font-weight: 400;
}

.ingresso-content .footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.ingresso-content .footer .address {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ingresso-content .footer p {
  line-height: 16px;
  color: var(--color-theme-2);
}

.ingresso-content .footer i {
  line-height: 16px;
  color: var(--color-theme-2);
  margin-right: 10px;
}

.ingresso-content .footer p:last-child {
  line-height: 16px;
  color: var(--color-theme-1);
}

.ingresso-content .footer .time p {
  color: var(--color-theme-2);
  font-size: 1.5rem;
  font-weight: 500;
}

.ingresso .cover {
  width: 40%;
  background-color: red;
  height: 100%;
}

.ingresso .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-content .wrapper2 {
  display: flex;
  margin-top: -15px;
  height: 45px;
  width: 145px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  background: #fff;
  border-radius: 100px;
  box-shadow: 0px 2px 20px 0px rgb(11 65 126 / 47%);
  justify-content: center;
  align-items: center;
  color: #ff8800;
}

.section-content .wrapper2 {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.sobre .content {
  
}


.sobre .box {
  box-sizing: border-box;
  background-color: var(--color-theme-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: calc(100% / 2);
  padding: 50px;
}

.sobre .box1 {
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(-293deg, rgba(5,13,39,1) 26%, rgb(25 14 88) 100%);
}
.sobre .box2 {
  border-radius: 0px 0px 20px 20px;
  flex-direction: row-reverse;
  background: linear-gradient(293deg, rgba(5,13,39,1) 26%, rgb(25 14 88) 100%);
}

.sobre .logo {
  width: 900px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: white;
  font-weight: 700;
}
.sobre .logo p{
  color: var(--color-theme-2);
  margin-right: 10px;
}
.sobre .logo img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.sobre .description {
  padding-left: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sobre .box2 .description {
  padding-left: 0px;
  padding-right: 50px;
}
.sobre .description p{
  color: white;
  line-height: 20px;
}